body{
  background-image: linear-gradient(red,black);
}
.infoBox{
  display: flex;
}
.chart {
  width: auto;
  height: 150px;
  background-color: lightblue;
  box-shadow: 0px 0px 10px black;
  border-radius: 12px;
  color: white;

}
.infoBox {
   background-color: red;
}


